@{
    Layout = null;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
    <link href="~/Content/front/list.css" type="text/css" rel="StyleSheet">
    <link href="~/Content/front/font/iconfont.css" type="text/css" rel="StyleSheet">
    <title>游戏大厅</title>

</head>
<body>
    <div class="flexsearch">
        <div class="flexsearch--wrapper">
            <form class="flexsearch--form" action="#" method="post">
                <div class="flexsearch--input-wrapper">
                    <input class="flexsearch--input" type="search" placeholder="&nbsp;&nbsp;输入您要查找的游戏">
                    <i class="search-icon iconfont icon-sousuo" style="font-size: 30px;"></i>
                </div>

            </form>
        </div>
    </div>

    <div id="homePage" class="page page1 clear ">
        <div id="main">
            <section id="content" class="clearfix">

                <div class="game clearfix">
                    <div class="game-logo ">
                        <a href="" target="_blank">
                            <img src="~/Content/front/image/matou.jpg">
                        </a>
                    </div>

                    <div class="game-info">
                        <section>
                            <div style="border-bottom:1px  dashed #c3c3c3;">
                                <p class="title">微信摇一摇疯狂赛马</p>
                                <p class="neirong">多人参与互竞技小游戏，可快速调动现场互动情绪，适合婚礼、会议、大小聚会等各类场景使用</p>
                            </div>
                            <div class="game-start">
                                <p class="des">有<span style="color:red">2736</span>人玩过</p>
                                <p><a href="/HorseNew/Index" target="_blank" class="btn-play">开始游戏&nbsp; <i class="iconfont icon-kaishi" style="font-size: 23px;"></i></a></p>
                            </div>
                        </section>

                    </div>
                </div>

                <div class="game clearfix">
                    <div class="game-logo ">
                        <a href="" target="_blank">
                            <img src="~/Content/front/image/matou.jpg">
                        </a>
                    </div>

                    <div class="game-info">
                        <section>
                            <div style="border-bottom:1px  dashed #c3c3c3;">
                                <p class="title">微信摇一摇疯狂赛马</p>
                                <p class="neirong">多人参与互竞技小游戏，可快速调动现场互动情绪，适合婚礼、会议、大小聚会等各类场景使用</p>
                            </div>
                            <div class="game-start">
                                <p class="des">有<span style="color:red">2736</span>人玩过</p>
                                <p><a href="/HorseNew/Index" target="_blank" class="btn-play">开始游戏&nbsp; <i class=" iconfont icon-kaishi" style="font-size: 23px;"></i></a></p>
                            </div>
                        </section>

                    </div>
                </div>

            </section>
        </div>
    </div>

</body>
</html>
