
@{
    Layout = null;

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Wechat</title>
</head>
<body>
    <div> 
        <a href="@ViewBag.lst2">Url:@ViewBag.lst2</a>
        <a href="@ViewBag.lst">Code：@ViewBag.lst</a>
    </div>
</body>
</html>
